.time-weather {
    color: rgba(255, 255, 255, 0.87);
    font-size: 0.9em;
    margin-top: 40px;

    &__table {
        display: table;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        overflow: hidden;
    }

    &__body {
        display: table-row-group;
    }

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;
        padding: 8px;
        text-align: center;
        border-right: 2px solid rgba(255, 255, 255, 0.2);

        &:last-child {
            border-right: none;
        }
    }

    &__time,
    &__temp {
        font-size: 0.9em;
        font-weight: 700;
        margin: 10px;
    }
}