.time-weather {
    color: rgba(255, 255, 255, 0.87);

    &__wrapper {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    &__title {
        margin-top: 3em;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    &__border {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        box-sizing: border-box;
    }

    &__time,
    &__temp,
    &__condition {
        font-size: 0.8em;
        font-weight: 700;
        margin: 10px;
    }
}