@use "/src/assets/style/base/variables.scss" as *;

.forecast {
    color: $white;

    &__wrapper {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    &__title {
        margin-top: 3em;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__border {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $grey;
        padding: 10px;
        border-radius: 8px;
        width: 180px;
        box-sizing: border-box;
    }

    &__day,
    &__temp,
    &__condition {
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0px;
    }
}

@media screen and (max-width: 1200px) {
    .forecast {
        &__wrapper {
            gap: 10px;
        }

        &__title {
            font-size: 26px;
        }

        &__border {
            width: 120px;
        }

        &__day,
        &__temp,
        &__condition {
            font-size: 11px;
            font-weight: 400;
            margin: 10px 0px;
        }
    }
}

@media screen and (max-width: 768px) {
    .forecast {

        &__wrapper {
            margin-top: 20px;
        }


        &__title {
            margin-top: 30px;
            font-size: 24px;
        }

        &__border {
            width: 80px;
            padding: 5px;
        }

        &__day,
        &__temp,
        &__condition {
            font-size: 8px;
            font-weight: 400;
            margin: 2px 0px;
        }
    }
}