.forecast {
    color: rgba(255, 255, 255, 0.87);

    &__wrapper {
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__title {
        margin-top: 3em;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__border {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgba(255, 255, 255, 0.2);
        padding: 1em;
        border-radius: 8px;
        width: 180px;
        box-sizing: border-box;
    }

    &__temp,
    &__condition {
        font-size: 16px;
        font-weight: 400;
        margin: 10px;
    }
}