.forecast {
    color: rgba(255, 255, 255, 0.87);
}

.forecast__wrapper {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.forecast__img {
    width: 100px;
    height: 100px;
    margin-right: 1em;
}

.forecast__title {
    margin-top: 3em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.forecast__details {
    display: flex;
    justify-content: space-between;
}

.forecast__border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1em;
    border-radius: 8px;
}

.forecast__temp,
.forecast__condition {
    font-size: 0.8em;
    margin: 10px;
}