.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    &__title {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.87);
    }

    &__languages {
        button {
            margin: 0 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-weight: bold;
            transition: border-color 0.5s;
            background: linear-gradient(170deg, #ffffff, #cbcbcb, #b7b7b7, #828282, #7b7b7b);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            border: 2px solid rgb(255, 255, 255);

            &:hover {
                border-color: rgb(127, 127, 127);
            }
        }
    }
}