.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header h1 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.87);
}