@use "/src/assets/style/base/variables.scss" as *;

.footer {
    margin-top: 50px;
    margin-bottom: 20px;
    color: $white;

    &__wrapper {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        flex-flow: column;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        justify-content: space-between;
        display: flex;
    }

    &__top {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        justify-content: space-between;
        display: flex;
    }

    &__left {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        flex-flow: column;
        width: 100%;
        max-width: 400px;
        display: flex;
    }

    &__p2 {
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
    }

    &__socials {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        display: flex;
    }

    &__icon {
        border: 1px solid $white;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        min-width: 35px;
        max-width: 35px;
        min-height: 35px;
        max-height: 35px;
        padding: 5px;
        display: flex;
        background-color: transparent;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $white;
            transform: translateY(-3px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

            .footer__icon-facebook {
                color: #1877F2;
            }

            .footer__icon-github {
                color: #181717;
            }

            .footer__icon-instagram {
                color: #E4405F;
            }

            .footer__icon-linkedin {
                color: #0A66C2;
            }
        }

        &:active {
            transform: translateY(-1px) scale(0.95);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        &:focus {
            outline: 2px solid #4a90e2;
            outline-offset: 2px;
            background-color: $white;
        }

        &-facebook,
        &-github,
        &-instagram,
        &-linkedin {
            color: $white;
            width: 35px;
            height: 35px;
            transition: color .3s ease-in-out;
        }
    }

    &__right {
        margin-top: 20px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
        display: flex;
    }

    &__links-wrap {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        flex-flow: column;
        align-items: flex-start;
        display: flex;
    }

    &__link {
        color: $white;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        transition: all .3s;

    }

    &__bottom {
        border-top: 1px solid $grey;
        padding-top: 20px;
    }

    &__bottom-content {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        flex-flow: row;
        justify-content: space-between;
        display: flex;
    }

    &__bottom-text {
        color: $white;
    }

    &__bottom-right {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        display: flex;
    }

    &__bottom-link {
        color: $white;
        font-size: 14px;
        text-decoration: none;
        transition: all .3s;
    }

    img {
        max-width: 100%;
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        &__p2 {
            font-size: 16px;
        }

        &__socials {
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            display: flex;
        }

        &__icon {
            padding: 0px;

            &-facebook,
            &-github,
            &-instagram,
            &-linkedin {
                width: 30px;
                height: 30px;
            }
        }

        &__bottom-text {
            font-size: 12px;
        }

        &__bottom-link {
            font-size: 12px;
        }
    }
}