:root {
  padding: 0 50px 0 50px;
  margin: 0 auto;
  text-align: center;

  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes animatedSky {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: linear-gradient(-45deg,
      #0a1931,
      #185a9d,
      #43cea2,
      #fdbb2d);

  background-size: 400% 400%;

  animation: animatedSky 30s ease infinite;
}