@use "/src/assets/style/base/variables.scss" as *;

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: $white;

    &__title {
        font-size: 32px;
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    &__primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid $grey;
        padding: 1.5em;
        border-radius: 15px;
        width: 340px;
        height: 440px;
        box-sizing: border-box;
        margin-top: 20px;
    }

    &__secondary {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid $grey;
        padding: 20px 10px;
        border-radius: 15px;
        box-sizing: border-box;
        margin-top: 40px;
        width: 300px;
        height: 405px;
        overflow: hidden;
        position: relative;

        .logo-area {
            transform: scale(1);
            transform-origin: center center;
            transition: transform 0.3s ease;
            margin-top: 10px;
        }
    }

    &__subtitle {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 20px;
        color: $white;
    }

    &__temperature,
    &__condition {
        padding-top: 10px;
        font-size: 1.2em;
        font-weight: 700;
        margin: 15px 10px;
    }

    &__temp-value {
        font-weight: 700;
        margin-left: 10px;
        color: $white;
    }

    &__stats {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    &__stat {
        display: flex;
        justify-content: space-between;
        font-size: 1.1em;
        padding: 13px;
        color: $white;

        &:not(:last-child) {
            border-bottom: 1px solid rgba($white, 0.2);
        }

        span:first-child {
            color: $white;
        }

        span:last-child {
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 1200px) {
    .current-weather {
        &__wrapper {
            gap: 20px;
        }

        &__title {
            font-size: 26px;
        }

        &__secondary {
            border: 3px solid $grey;
            padding: 10px;
            border-radius: 15px;
            width: 200px;
            height: 305px;
        }

        &__primary {
            border: 3px solid $grey;
            padding: 10px;
            border-radius: 15px;
            width: 240px;
            height: 340px;
        }

        &__subtitle {
            font-size: 16px;
            margin-top: 0;
            color: $white;
        }

        &__stat {
            font-size: 14px;
            padding: 10px;
        }

        &__secondary .logo-area {
            transform: scale(0.8);
            margin-top: -10px;
        }

        &__temperature,
        &__condition {
            font-size: 16px;
            font-weight: 700;
            margin: 10px 5px;
        }
    }
}